/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt { white-space: normal; }


/* Bootstrap Overrides */

.navbar-inverse {
    background-color: #a0410c;
    border-color: #a0410c;
}

.navbar-brand { color: #a0410c; }

.navbar-brand:hover, .navbar-brand:active { color: #652908 }

.btn-primary {
    color: #fff;
    background-color: #a0410c;
    border-color: #a0410c;
}

.btn-primary:hover {
    color: #fff;
    background-color: #652908;
    border-color: #652908;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #652908;
    border-color: #652908;
}

a { color: #9f410bcf; }

a:hover {
    color: #a0410c;
    text-decoration: underline;
}

.btn-outline-primary {
    color: #a0410c;
    background-color: transparent;
    background-image: none;
    border-color: #a0410c;
}

/* Global */
.text-small {
    font-size: 1.2rem;
}

nav .dropdown {
    display: inline;
    cursor: pointer;
}

.body-content {
    margin-top: 2rem;
    margin-bottom: 3rem;
}


/* Login Page */

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin input[name="Email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[name="Password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.center-content {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

/* Cow Details */
button:not(.d-none) + .add-mother-menu + .list-group-item,
.add-father-menu + .list-group-item {
    margin-top: 1rem;
}

.add-mother.d-none + .add-mother-menu + .add-father {
    margin-top: 1rem;
}

.remove-item {
    color: #dc3545 !important;
    margin-left: auto;
    cursor: pointer;
}