@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-12">
        <h1>Welcome to Cattle Companion!</h1>
        <h3>It looks like you don't have any farms. Click @Html.ActionLink("Add a Farm", "Create", "Farms") to create a new one.</h3>
    </div>
</div>